* {
    box-sizing: border-box;
  }


header {
    background-image: url('background2.jpg');
    background-size: cover;
    height: 300px;
    position: relative;
    border-radius: 5px;
  }
  .heading {
    
    padding: 10px;
    border-radius: 5px;
    background-color: #d4dddd;
    color: #000000;
    text-align: center;
  }
  
  nav {
    background-color: rgba(44, 43, 43, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    font-size: 14px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li  {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    display: block;
    color: rgb(147, 208, 226);
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: #bee2f7;
    color: #000;
    border-radius: 5px;
  }
    
  nav ul li  {
    margin-right: 10px;
  }
  
  nav ul li a {
    padding: 5px 10px;
  }
  .working-hours {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
   
  }
  
  .working-hours h2 {
    margin-bottom: 10px;
  }
  
  .working-hours ul {
    list-style-type: none;
    padding: 0;
  }
  
  .working-hours li {
    margin-bottom: 5px;
  }
  
  
    
    article{
      margin-top: 10px;
     margin-bottom: 50px;
        font-family: Arial, sans-serif;
        background-color: #d4dddd;
        padding: 20px;
        padding-bottom: 100px;
        border-radius: 5px;
    }
    form {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        background-color: #bee2f7;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }
    input[type="submit"]:hover {
        background-color:rgb(147, 208, 226);
    }
    .status {
        margin-top: 20px;
        text-align: center;
    }
    .status p {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .present {
        color: green;
    }
    .absent {
        color: red;
    }
    .footer-contact {
      margin-top: 100px;
     
        font-family: Arial, sans-serif;
        background-color: #d4dddd;
        padding: 20px;
        padding-bottom: 100px;
        border-radius: 5px;
    }
    
 
    
    .footer-contact .form-group {
      margin-bottom: 10px;
    }
    
    .footer-contact label {
      display: block;
      font-size: 14px;
    }
    
    .footer-contact input,
    .footer-contact textarea {
      width: 100%;
      padding: 5px;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    
    .footer-contact button {
      background-color: #bee2f7;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .footer-contact button:hover {
      background-color: #45a049;
    }
    
    
    @media (max-width: 800px) {
        header {
          height: 200px;
        }
 
    }